.tile-container {
  width: 330px;
  margin-bottom: 30px;
}
.tile-container div {
  display: flex;
}

.tile-container .tile {
  width: 62px;
  height: 62px;
  border: 2px solid#3a3a3c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.tile.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
}
.yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
}

.green-overlay {
  background-color: #538d4e !important;
  border: none !important;
}
